<launch>
  <arg name="publish_tf" default="false"/>
  <arg name="vicon_fps" default="500"/>
  <arg name="output" default="screen"/>

  <arg name="model" default="Bilbo"/>
  <arg name="child_frame_id" default="$(arg model)/base_link"/>
  <node pkg="vicon_odom" type="vicon_odom" name="$(arg model)"
    output="$(arg output)" ns="vicon">
    <param name="model" type="string" value="$(arg model)"/>
    <param name="child_frame_id" type="string" value="$(arg child_frame_id)"/>
    <param name="publish_tf" type="bool" value="$(arg publish_tf)"/>
    <param name="vicon_fps" type="int" value="$(arg vicon_fps)"/>
    <remap from="~vicon_subject" to="$(arg model)"/>
    <remap from="~odom" to="/$(arg model)/odom"/>
  </node>

  <group ns="$(arg model)">
        <!-- Tf server for updating vehicles tf's -->
        <node pkg="tf_publisher" type="tf_publisher" name="tf_publisher" output="screen">
            <param name="namespace" value="$(arg model)"/>
            <param name="input_odometry" value="/$(arg model)/local_odom"/>
        </node>
    </group>

</launch>
